html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 7vh;
    display: flex;
    justify-content: center;
    background-color: #015045;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.logo a{
    font-size: 24px;
    color: #F9FAF8;
}

.nav-links ul{
    display: flex;
    gap: 20px;
}

.nav-links ul a {
    font-size: 18px;
    padding: 5px;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    color: #E5E7EB;
    transition: background-color 0.4s, color 0.4s;
}

.nav-links ul a:hover {
    background-color: #F9FAF8;
    color: #015045;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #015045;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 70%;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 270px;
    min-width: 481px;
    max-width: 490px;
}

.hero-title h1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-title p {
    font-size: 18px;
    color: #E5E7EB;
}

.store-btn {
    font-size: 48px;
    color: #F9FAF8;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    padding: 10px 40px;
    transition: background-color 0.4s, color 0.4s;
}

.store-btn:hover {
    background-color: #F9FAF8;
    color: #015045;
}

.hero-img-container {

}

.hero-img-container img {
    height: 270px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 50px 0;
    background-color: #F9FAF8;
    color: #015045;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50%;
}

.main-title {
    font-size: 36px;
    font-weight: 900;
}

.info-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.card {
    width: 200px;
    height: 400px;
}

.card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card p {
    text-align: center;
    font-size: 24px;
}

.quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #015045;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    padding: 80px 0 50px 0;
    font-size: 36px;
    font-style: italic;
    color: #F9FAF8;
}

.quote-author {
    align-self: flex-end;
}

.call-to-action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.call-to-action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-width: 783px;
    width: 60%;
    padding: 40px 80px;
    background-color: #015045;
    color: #F9FAF8;
    border-radius: 5px;
}

.action-call {
    font-size: 24px;
}

.action-title {
    min-width: 449px;
}

.action-title p {
    font-size: 18px;
    padding-top: 10px;
}

.sign-up-btn {
    align-self: center;
    min-width: 162px;
    cursor: pointer;
    font-size: 24px;
    color: #F9FAF8;
    background-color: #015045;
    border: 1px solid #F9FAF8;
    border-radius: 5px;
    padding: 10px 40px;
    transition: background-color 0.4s, color 0.4s;
}

.sign-up-btn:hover {
    background-color: #F9FAF8;
    color: #015045;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #015045;
    color: #E5E7EB;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}